/* styling individual list items */

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-info {
  float: left;
  margin-bottom: 24px;
  margin-left: 20px;
  color: #000 !important;
}

.user-name {
  font-size: 18px;
  font-weight: bold;  
  color: rgb(0, 0, 0);
}

.user-bio {
  font-size: 12px;
  font-style: italic;
  color: rgb(116, 116, 116);
  font-weight: lighter;
  width: 200px;
}

.user-places {
  font-size: 12px;
  color: rgb(116, 116, 116);
  font-weight: 300;
 
}

@media (min-width: 550px) {
}
