.button {
  font: inherit;
  width: 100px;
  height: 25px;
  font-size: 10px;
  border: 1px solid #fe6601;
  border-radius: 4px;
  background: #fe6601;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
  /* margin: 0 40%; */
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #fe6601;
  border-color: #fe6601;
}

.button--inverse {
  background: transparent;
  color: #fe6601;
  border: 1.5px solid #fe6601;
  font-size: 14px;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #fe6601;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
