.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in-form-card {
  padding: 50px;
}

.log-in-button {
  padding-bottom: 12px;
  margin-left: 30%;
}

.sign-up-card {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding: 0;
  justify-content: center;
}

.sign-up-create-account {
  text-decoration: none;
  color: rgb(28, 2, 255);
  margin-top: 12px;
  margin-left: 5px;
}
